%script{:src => "http://connect.facebook.net/en_US/all.js"}
#fb-root
:javascript
  FB.init({
    appId  : '#{facebook_app_id}',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true, // parse XFBML
    channelURL : "#{root_url}channel.html", // channel.html file
    oauth  : true // enable OAuth 2.0
  });
- if authenticated?
  - @current_user.friends.each do |user|
    .user
      = image_tag user.picture
      = user.name
- else
  %fb:login-button{:onlogin => "location.href = \"#{root_url}\""} Login with Facebook
